<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="SculptureService" address="http://localhost:5000/Museum" binding="basicHttpBinding" contract="Museum.Service.Contract.ISculptureService"/>
    </client>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>